@import "./setup.scss";
.card{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.render{
    display: flex;
}
.icon{
    color: $btn;
    font-size: 2rem;
    margin-left: 5%;
    &:hover{
        color: $btn-dark;
    }
}
.change{
    display: flex;
    margin-top: 5%;
    justify-content: center space-around;
    align-items: center;
}
