@import "./setup.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.task-indi{
    display: flex;

}
.Task{
    justify-self: center;
    align-self: center;
}
.chkbox{
    justify-content: flex-end;
}
.Task {
    max-height: 40vh;
    min-width: 40vw;
    width: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: auto; 
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
  }
  
  .task-indi {
    border-radius: 10px;
    margin-bottom: 8px; /* Add some spacing between tasks */
    padding: 2px; /* Add padding for better appearance */
    display: flex; /* Use flex display for better layout */
    align-items: center; /* Center items vertically */
  }
  
  .chkbox {
    margin-right: 8px; /* Add spacing between checkbox and task text */
  }
  .input{
    border-radius: 10px;
    background-color: $input;
    color: $input-txt;
    position: relative;
    bottom: 5vh;
  }
  .add-btn{
    padding: 5px 15px ;
    border: solid 1px $second ;
    border-radius: 5px;
    background-color: $background;
  }
/* Todo.css */

.input {
  margin-right: 8px;
}
.Pos{
  @media screen and (width>768px) {
    position: fixed;
    top:18%;
    left:45%;
  }
  @media screen and (width<768px) {
    display: flex;
    justify-self: center;
    margin-top: 20%;
    justify-content: center;
  }
}
.bor {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}

.add-btn {
  background-color: #296EB4;
  color: #fff;
  border: none;
  margin-right: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.Task {
  margin-top: 16px;
}

.task-indi {
  color:#296EB4;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chkbox {
  margin-right: 8px;
}

/* Style the checkbox */
.chkbox + label {
  cursor: pointer;
}

/* Style checked checkbox label */
.chkbox:checked + label {
  text-decoration: line-through;
  color: #888;
}

/* Style the remove button */
.remove-btn {
  background-color: $btn;
  color: #fff;
  border-radius: 50%;
  border: none;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 5%;
}

.remove-btn:hover {
  background-color:$btn-dark;
}
